@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;800&display=swap');

:root {
    --blanc: #f7f7f7;
    --beige: #ecd8bd;
    --marron: #503112;
    --dark: #2a1e16;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: var(--blanc);
    margin: 0;
    padding: 0;
}
.home {
    position: relative;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 46px;
    left: 103px;
}
.logo img {
    height: 80px;
}
.menu {
    position: absolute;
    right: 103px;
    top: 46px;
    display: flex;
}
.menu-item {
    cursor: pointer;
    font-weight: 800;
    font-size: 26px;
    line-height: 40px;
    margin-left: 120px;
}

.content {
    position: absolute;
    left: 103px;
    top: calc(50% - 140px);
}
.title {
    font-size: 102px;
    line-height: 117px;
    width: 560px;
}
.subtitle {
    font-family: 'Lobster', cursive;
    font-size: 42px;
    line-height: 52px;
}
.explore {
    font-size: 32px;
    line-height: 40px;
    position: absolute;
    left: 116px;
    bottom: 46px;
}
.arrow {
    height: 40px;
    position: relative;
    top: 15px;
    margin-right: 10px;
}

.quote {
    display: flex;
    justify-content: center;
    padding: 150px 0;
}
.quote__text {
    color: var(--marron);
    font-size: 47px;
    line-height: 63px;
    text-align: center;
    max-width: 979px;
}

.about {
    background-color: var(--dark);
    color: var(--beige);
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 210px;
}

.about__right {
    margin-left: 50px;
}

.about__text {
    width: 400px;
    font-size: 25px;
    line-height: 33px;
}
.about__button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 800;
    color: var(--dark);
    background-color: var(--beige);
    padding: 0 60px;
    border-radius: 100px;
    margin-top: 40px;
    text-decoration: inherit;
}

.video {
    width: 930px;
    height: 500px;
    background: #1b1b1b;
    margin: auto;
    margin-top: -150px;
}
.video video {
    width: 100%;
}

.ou-acheter {
    padding: 100px 0;
    color: var(--dark);
    text-align: center;
}
.ou-acheter__title {
    font-size: 52px;
    line-height: 69px;
}
.ou-acheter__list {
    margin: auto;
    margin-top: 50px;
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    max-width: 1150px;
}
.ou-acheter__item {
    font-size: 25px;
    line-height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.ou-acheter__name {
    text-align: left;
}

.ou-acheter__address {
    text-align: right;
    color: inherit;
    margin-left: 100px;
}

.jeu-concours {
    padding: 100px 0;
    background: var(--beige);
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeu-concours__right {
    margin-left: 80px;
}
.jeu-concours__text {
    font-size: 29px;
    line-height: 39px;
    width: 380px;
}
.jeu-concours__button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 800;
    color: var(--beige);
    background-color: var(--dark);
    padding: 0 60px;
    border-radius: 100px;
    margin-top: 40px;
    text-decoration: inherit;
}

.footer {
    background: var(--dark);
    padding: 50px 0 0;
    position: relative;
    color: var(--beige);
    overflow: hidden;
}
.footer__content {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer__right {
    display: flex;
}
.footer__column {
    margin-left: 50px;
}
.footer__subtitle {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 20px;
}
.footer__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.footer__address {
    font-size: 12px;
    line-height: 20px;
    display: block;
}
.logo-is {
    width: 82px;
    height: 64px;
}
.copyright {
    font-family: sans-serif;
    font-size: 11px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.tortue-little {
    position: absolute;
    bottom: 0;
    right: 370px;
}
.two-tortue {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* Queries */
@media (max-width: 780px) {
    .logo {
        left: 30px;
        top: 30px;
    }
    .logo img {
        height: 40px;
    }
    .menu {
        right: 30px;
        top: 30px;
    }
    .menu-item {
        font-size: 14px;
        margin-left: 30px;
    }
    .content {
        left: 30px;
        top: calc(50% - 100px);
    }
    .title {
        font-size: 60px;
        width: 100px;
        line-height: 1.1em;
    }
    .subtitle {
        font-size: 26px;
    }
    .explore {
        bottom: 30px;
        left: 30px;
        font-size: 15px;
    }
    .arrow {
        height: 20px;
        top: 8px;
    }
    .quote {
        padding: 100px 0;
    }
    .quote__text {
        width: 80%;
        font-size: 30px;
        line-height: 1.4em;
    }
    .about {
        padding: 80px 0;
        flex-direction: column;
    }
    .about__image {
        width: 70%;
        display: block;
        margin: auto;
    }
    .about__right {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .about__text {
        width: 100%;
        font-size: 17px;
        line-height: 1.5em;
    }
    .about__button {
        margin-top: 50px;
    }
    .video {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .ou-acheter {
        padding: 80px 0;
    }
    .ou-acheter__title {
        font-size: 32px;
        line-height: 1.4em;
    }
    .ou-acheter__list {
        width: 80%;
    }
    .ou-acheter__item {
        font-size: 15px;
        line-height: 1.4em;
        justify-content: space-between;
    }
    .ou-acheter__name {
        max-width: 50%;
    }
    .ou-acheter__address {
        margin-left: 20px;
    }
    .jeu-concours {
        padding: 80px 0;
        flex-direction: column;
        text-align: center;
    }
    .jeu-concours__image {
        width: 70%;
    }
    .jeu-concours__right {
        margin: 0;
    }
    .jeu-concours__text {
        width: 80%;
        font-size: 18px;
        line-height: 1.4em;
        margin: 30px auto;
    }
    .jeu-concours__button {
        margin-top: 10px;
    }
    .footer__content {
        width: 100%;
        flex-direction: column;
        padding-bottom: 90px;
        text-align: center;
    }
    .footer__right {
        gap: 50px;
        justify-content: center;
        margin: 50px 0;
    }
    .footer__column {
        margin: 0;
    }
    .copyright {
        margin: 0;
        position: absolute;
        bottom: 50px;
        left: 30px;
    }
    .tortue-little {
        right: 199px;
        height: 20px;
    }
    .two-tortue {
        height: 80px;
        right: 10px;
    }
}
