@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;800&display=swap");

:root {
    --blanc: #f7f7f7;
    --beige: #ecd8bd;
    --marron: #503112;
    --dark: #2b1e16;
}

body {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: var(--blanc);
    margin: 0;
    padding: 0;
}
.home {
    position: relative;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 46px;
    left: 103px;
}
.logo img {
    height: 80px;
}
.menu {
    position: absolute;
    right: 103px;
    top: 46px;
    display: flex;
}
.menu-item {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-left: 168px;
}

.content {
    position: absolute;
    left: 103px;
    top: calc(50% - 140px);
}
.title {
    font-size: 102px;
    line-height: 117px;
    width: 560px;
}
.subtitle {
    font-family: "Lobster", cursive;
    font-size: 42px;
    line-height: 52px;
}
.explore {
    font-size: 32px;
    line-height: 40px;
    position: absolute;
    left: 116px;
    bottom: 46px;
}
.arrow {
    height: 40px;
    position: relative;
    top: 15px;
    margin-right: 10px;
}

.Jeu-concours {
    width: 953px;
    height: 601px;
}
.button {
    width: 232px;
    height: 50px;
}

.tortue-little {
    position: absolute;
}
.two-tortue {
    position: absolute;
}
.logo-is {
    width: 82px;
    height: 64px;
}
.copyright {
}
.Suivez-Nous {
}
.Contact {
}
.Insta-Logo {
}
.Mail-Logo {
}
.Adresse {
}
.Téléphone {
}
